* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box1 {
    background-color: green;
}

.box2 {
    background-color: red;
}

.box3 {
    background-color: yellow;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#box {
    display: block;
    width: 200px;
    height: 200px;
}